body {
  background-color: #f4f4f4;
  color: #555555;

  font: normal 16px Arial, Helvetica, sans-serif;

  line-height: 19px;
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
}

.box-1 {
  background-color: #333;
  color: white;

  border: 5px red solid;
  border-width: 5px;
  border-radius: 5px;
  padding: 20px;
  margin-top: auto;
}

.box-1 h1 {
  font-family: Tahoma;
  font-weight: 800;
  font-style: normal;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.box-2 {
  border: 3px solid #333;
  color: black;
  border-width: 5px;
  padding: 20px;
  margin: 20px 0;
  background-color: red;
}

.box-2 h1 {
  font-family: Tahoma;
  font-weight: 800;
  font-style: normal;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 1px;
}
